*{
    box-sizing: border-box;
}
img.cangiua {display: block; margin-left: auto; margin-right: auto;}
#header
{
margin:3px 0px;
width: 100%;
height:300px;
border: solid 2px;
background-image: url(images/logo2.jpg);
background-repeat:no-repeat;
background-position: center center;
background-size:contain;
background-color:white;
}
.user,.cart{
float:right;
margin:3px 3px;
border: none;
transition: all 0.5s ease-in-out;
}
.user:hover{
background-color:darkgray;
border-radius: 20px; 
}
.cart:hover{
background-color:darkgray;
border-radius: 20px;  
}
/* Khung login -*/
#modal-background{
  display:none; 
  position: fixed; 
  z-index: 5; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%;
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  padding-top: 10px;
}

#khung{
    height:550px; 
    width:400px; 
    margin-top:25px;
    perspective: 600px;
    left:0;
    top:0;
    right:0;
    bottom:0;
    margin:auto;
    transition: transform 1s; /* xoay mất 1s */
    transform-style: preserve-3d; /* to tranform with 3d effect */
    border-radius:10px black;
}

#khunglogin{
    height:550px; 
    width:400px; 
    float:left;
    border:solid white;
    background-color: #fefefe;
    display:block;
    position:fixed;
    z-index :10;
   
}

.nhap{                                          /*xài cho login và register*/
    width: 100%;
    height:85px;
    margin-top: 15px;
    border-left:solid white;
    transition: all 0.2s ease-in-out;
}
.nhap:focus-within{
    border-left:solid black;
}
#UserName{
    border: none;
    border-bottom: solid;
    padding: 20px;
    outline: none;
    height:50%;
    width:95%;
    margin-left: 10px;
    font-size: 20px;
}
#ipnPass
{
border: none;
    border-bottom: solid;
    padding: 20px;
    outline: none;
    height:50%;
    width:84%;
    margin-left: 10px;
    font-size: 20px;
    float:left;
}
#btnPass      /*  nut con mat */
{
    margin-top: 5px;
    cursor: pointer;
    background-color: white;
    border:none;
    border-bottom:solid;
}
.or{

}
.orlogin{
    border: solid black;
    border-radius: 10px;
    width: 45%;
    margin-top: 2%;
    margin-left: 3.5%;
    height: auto;
    float: left;
}
.orlogin:hover{
    background-color: whitesmoke;
}
.orlogin img{
    border: none;
    outline: none;
    width: 25px;
    height: 25px;
    position: relative;
    left:42%;
    top:2px;
}
#login{
    border:none;
    position: relative;
    left:40%;
    width: 80px;
    height: 80px;
    cursor: pointer;
}
#loGin img     /*mui ten login*/
{             
    margin: auto;
    width: 50px;
    height: 50px;
}
#loGin 
{
    height:100%;
    width: 100%;
    border-radius :20px;
    background-color: white;
    cursor: pointer;
}
#loGin:hover{
    background-color:whitesmoke;
}
/* - Khung login */
/* - Khung register*/

#khungregister{
    height: 550px;
    width: 400px;
    background-color: white;
    overflow-y: scroll;
    position:fixed;
    z-index :10;
    transform: rotateY(180deg);
    backface-visibility: hidden;
}
.nhapradio{
    width: 100%;
    height: 30px;
    margin-top: 10px;
}
#name, #username, #Phone, #Email, #Dayofbirth, #Password, #Password-again{
    float: left;
    border: none;
    outline: none;
    padding: 20px;
    border-bottom: solid;
    margin-left: 10px;
    width: 95%;
    height:40px;
    font-size: 20px;

}
#gioitinh{
    float: left;
    outline: none;
    margin-left: 10px;
    width: 95%;
    height:40px;
    font-size: 20px;
}
#btn{
    border: solid black;
    position: relative;
    left:40%;
    width: 80px;
    height: 80px;
    border-radius: 20px;
    background-color: white;
    cursor: pointer;
    margin-top:10px;
}
#btn:hover{
    background-color: lightgray;
}
#node1, #node2{
    height: 18px;
    width: 18px;
}
#topmenu{
margin:3px 0px;
float:left;
background-color:black;
height :50px;
border: none;
width: 100%;
position: relative;
z-index: 4;
}
ul, li{
margin:3px,3px;
padding:3px 3px;
}
#mothermenu{
list-style:cjk-ideographic;
margin:0px 0px;
background-color:black;
border: none;
height:auto;
padding: 12px;
border:solid black;
}
.home,.news,.products,.support{
list-style-position:inside;
display:inline;
margin: 0px 0px;
padding:10px 10px;
font-size:15px;
height:auto;
border:solid black;
font-size:large;

}
#topmenu li a{
color :white;
border:solid black;
transition: all 0.25s ;
border: none;
}
.sub-menu{
list-style:cjk-ideographic;
position: absolute;
height :60px;
padding: 15px 15px;
border: outset whitesmoke;
background-color: black;
width: auto;
border-radius: 20px;
}
.sub-menu li{
padding:0px 10px;
display:inline;
width: 100%; 
border-radius: 20px;
}
#topmenu .sub-menu{
display:none;
}
#topmenu .products:hover .sub-menu{
display:block;
margin-top:10px;
margin-left:30px;

}
.sub-menu li a{
text-decoration: none;
}
#topmenu li a:hover{
color: yellow;
border-bottom:solid yellow;
padding:0px;
}
#search-box{
background: white;
float:right;
padding-top:0px;
border:solid 2px ;
}
#search-box #search-text{
border:none;
outline: none;
background: none;
font-size:17px;
width: 0;
padding: 0;
transition: all 0.5s ease-in-out;
}
#search-box:hover #search-text, #search-box #search-text:valid{
width: 300px;
padding: 10px 0px 10px 15px;
}
#search-box #search-btn{
background-color: white;
cursor: pointer;
border:none;
padding: 13px;
font-size:17px;
border-radius: 20px;
}
#slider{
overflow:hidden;
height:600px;
border: solid;
margin: 3px 0px;
width:100%;
float:left;
position: relative;
z-index: 2;
}
.slide-wrapper {
width: 400%;
position: relative;
z-index:2;
}
.slide{
float:left;
width:25%;
height:600px;

}
.prev,.next{
cursor:pointer;
position:absolute;
top:30%;
width:auto;
margin-top:20px;
padding:16px;
color:darkgrey;
font-weight: bold;
font-size: 50px;
transition:0.6s ease;
border-radius :0 3px 3px 0;
user-select: none;
z-index: 5;
}
.next{
top:center;
right:0px;
}
.prev{
top:center;
left:0px;
}
.prev:hover,.next:hover{
background-color:rgba(0,0,0,0.8);
}
#dot-wrapper{
height:10%;
bottom:0px;
position:absolute;
right:0px;
left:0px;
margin:0px auto;
z-index:5;
}
.dot{
cursor:pointer;
height:15px;
width:15px; 
background-color:darkgrey;
border-radius:50%;
display:inline-block;
transition: background-color 0.6s ease;
margin:0 2px;
}
.active,.dot:hover{
background-color:#717171;
}
@keyframes slide 
{
20% {margin-left: 0%;}
30% {margin-left: -100%;}
50% {margin-left: -100%;}
60% {margin-left: -200%;}
80% {margin-left: -200%;}
}
.slide img{
height:100%;
 width:100%;
}
.newproduct,.sales{
height:auto;
width: 100%;
display :flex;
justify-content: space-evenly;
align-items: center;
flex-wrap: wrap;
float:left;
margin: 5px 0;
}
.product{

height: 350px;
width:300px;
background-color:white ;
border :solid 3px #BC8F8F;
margin-right:0px;
}
.hinhanh{
height:280px;
position:relative;
z-index: 2;
float: left;
width: 100%;
}
.indexsale        
{
padding: 3px;
height:30px;
width: 50px;
z-index:4;
float:right;
color: red;
font-size: large;
position: absolute;
right:3px;
top:3px;
border:solid;
border-radius: 50%;
}
.chitiet{
height:70px;
width:70%;
float:left;
padding-left: 10px;
padding-top:5px;
letter-spacing: 1px;
font-size:larger;
font-weight: bold;
}

.mua{
height:60px;
width:auto;
float :right;
padding-top:4px;
transition: all 0.5s;
}
.mua:hover{
background-color: antiquewhite;
border-radius: 20px;
cursor: pointer;
}

.tieude{
width: 100%;
height: 40px;
float: left;
margin-top: 10px;
}
.tuade{
text-indent: 10px;
float:left;
width:70%;
font-weight: bold;
font-size:x-large;
}
.seemore{
float:right;
height :30px;
width: 29%;
}
.seemore a{
text-decoration: none;    
float:right; 
padding:5px 10px;
color: #333;
}
body {
font-family: sans-serif;
color: #333;
}

/* Phan Footer */

#Footer li{
    display: inline;
    margin-right: 50px;
}
#Footer{
    height:250px; 
    width:100%; 
    background-color:black;
    overflow: hidden;
    padding: 10px 0;
}
#left{
    width:350px;
    margin-left:15px;
    margin-top: 10px;
    float:left;
    position: absolute;
}
#right{
    width:650px;
    margin-top: 0px;
    float:right;
    text-align: center;
    line-height: 30px;
}
.pp img{
    width: 100px;
    height: 100px;
    margin-left: 20px;
    margin-right:20px; 
    margin-top:0px;
}
.animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
  }
  
  @-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)} 
    to {-webkit-transform: scale(1)}
  }
    
  @keyframes animatezoom {
    from {transform: scale(0)} 
    to {transform: scale(1)}
  }
  @media only screen and (max-width:900px) {
    #search-box:hover #search-text, #search-box #search-text:valid{
        width: 70px;
        padding: 10px 0px 10px 15px;
    }
  }
@media only screen and (max-width:1000px) {
    #Footer li{
        display:block;
    }
    #Footer{
        height:auto;
    }
    #left{
        width:40%;
    }
    #right{
        width:50%;
        padding-left: 10px;
    }
    .pp img{
        width:80px;
        height:80px;
        margin-left:20px;
    }
    #slider{
        height:400px;
    }
    .slide img{
    height:400px;
    width:100%;
    }
    .sub-menu li{
        padding: 10px 10px;
        display:block;
        width: 150px;
        height: auto;       
        text-align: center; 
    }
    .sub-menu{
        margin:0px 0px;
        height:100%;
        width:auto;
    }
    #mothermenu{
        float:left;
        margin:0px 0px;
        height:100%;
        padding: 0px 0px;
        border:solid black;
        margin-top: 10px;
        margin-left:10px;

    }
    #topmenu .products:hover .sub-menu{
        margin-left:85px;
        padding :0px 0px;
        height:auto;
        padding-bottom: 0px;
        margin-top:0px;
    }
    .home,.news,.products,.support{
list-style-position:inside;
display:inline;
margin: 0px 0px;
padding:10px 0px;
font-size:15px;
height:100%;
}
    #search-box:hover #search-text, #search-box #search-text:valid{
        width: 100px;
        padding: 10px 0px 10px 15px;
    }
}
